body{
  background-color: #292b2c;
  font-family: 'Roboto', sans-serif;
}

img {
    width: 150px; 
    height:150px;
  }

dl{
    background-color: rgb(40, 18, 52);
}
.card img{
  object-fit: contain;
}

h1{
  color: rgb(29, 29, 55);
}


.btn{
  background-color: rgb(40, 18, 52);
  color: azure;
}